fastapi==0.63.0
uvicorn==0.13.4
email-validator==1.1.2
motor==2.2.0
passlib==1.7.4
bcrypt==3.2.0
PyJWT==2.0.1
python-dotenv==0.15.0
python-multipart==0.0.5
cloudinary==1.25.0
flake8==3.8.4
numpy==1.19.4
opencv-python==4.4.0.46
Pillow==8.2.0
requests==2.25.1