name: Greetings

on: [pull_request, issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: "Thanks for raising an issue! Let us know what went wrong and we'd love to crunch it (only if it's a bug :p)"
        pr-message: "Thanks for submitting the Pull Request! Do not worry if your PR breaks things, but do raise an issue if it does. :p"